extends layout

block content
  h1= title
  p Welcome to my first Recipe Sharing App.
  a(href="https://moeen3.postman.co/workspace/Airbnb~d37013b0-4512-407d-b0df-6843b00fb17d/collection/36810157-84549015-5b39-4e9c-a9fc-214a4c47e0ba?action=share&creator=36810157&active-environment=36810157-7aeab32e-0e28-4463-b00c-25655d8fcda1" style="color: red;" target="_blank") Lint to Api's for Recipe Sharing Application
